cd5a817f31650e8532b831fe691e56ef67f526ea


node_modules
z_teste
.git
node_modules_outro

nao_enviar
nao_enviar.txt


.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store





















